.gif
.png
.Rproj.user
.Rhistory
.RData
.Ruserdata
infdev01.png
infdev02.png
infdev03.png
infdev04.png
infdev05.png
infdev06.png
infdev07.png
infdev08.png
infdev09.png
infdev10.png
infdev11.png
infdev12.png
infdev13.png
infdev14.png
infdev15.png
infdev16.png
infdev17.png
infdev18.png
infdev19.png
selecR.gif
